%div.row.signup_page_title1.span11
  %h1 New account for a homeopathy doctor
  
%div.row
  %div.span8
    = form_for(@mainuser) do |f|
      /= f.error_messages
      
      = f.label :firstname
      = f.text_field :firstname
      
      = f.label :lastname
      = f.text_field :lastname 
      
      = f.label :email
      = f.text_field :email
      
      = f.label :mobile
      = f.text_field :mobile

      = f.label :password
      = f.password_field :password 
      
      = f.label :password_confirmation, "Password confirmation"
      = f.password_field :password_confirmation
      %br
      %div.span2
        = f.submit "Create my account", class: "btn btn-large btn-primary"
      %div.span4
        %br
        %strong &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Existing user?  
        = link_to "Sign in with your account!", signin_path
    