/
/ This is mainly used for case history display.
/
!!!5
%html
  %head
    %title EasyhoApp
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{"data-spy" => "scroll", "data-target" => ".profilesubsections"}
    = render 'layouts/header'
    %div{:class => "container"}
      = yield