= render :partial => "patients/patient_basic_info",:locals => {:curselect => "contacts"}

%div.row{:id => "personalcontact"}
  %h3.contact_info_h3 &nbsp;Personal information
  %hr.contactinfo_line
  %br
  %div.span7.div_address    
    /%p
    %strong Address:
    /%span.label.label-inverse Address:
    %br
    -if !@patient_entry.homeaddress.nil?
      = simple_format(h @patient_entry.homeaddress)
  %div.span4.div_homecontact
    %strong DOB
    /%span.label.label-inverse DOB
    (mm/dd/yyyy): 
    -if !@patient_entry.dob.nil?
      #{@patient_entry.dob.strftime("%m/%d/%Y")}
      -if @age_in_words != ""
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{@age_in_words}
    %br
    %br
    %strong Mobile:
    /%span.label.label-inverse Mobile: 
    #{@patient_entry.mobile}
    %br
    %br
    %strong Home:
    /%span.label.label-inverse Home: 
    #{@patient_entry.homephone}
  %div.span11.email_div    
    %strong Email:
    /%span.label.label-inverse Email: 
    #{@patient_entry.email}
  
%div.row{:id => "officecontact"}
  %br
  %br
  %br
  %h3.contact_info_h3 &nbsp;Office information
  %hr.contactinfo_line
  %div.span11.officeemail_div
    %strong Email:
    /%span.label.label-inverse Email: 
    #{@patient_entry.jobemail}
  %div.span7.div_officephone_addr
    %div.span4.officephone_div
      %strong Phone:
      /%span.label.label-inverse Phone:
      #{@patient_entry.jobphone}
    %div.span7.div_officeaddress    
      %strong Address:
      /%span.label.label-inverse Address:
      %br
      -if !@patient_entry.jobaddress.nil?
        = simple_format(h @patient_entry.jobaddress)
  %div.span4.div_jobdesc
    %strong Job description:
    /%span.label.label-inverse Job description:
    %br
    -if !@patient_entry.jobdescription.nil?
      = simple_format(h @patient_entry.jobdescription)
  
  
%div.center
  %br
  %a{:class => "btn btn-large btn-primary", :href => editcontact_patient_path(@patient_entry)} Edit information
  %br
  %br     