= render :partial => "patients/patient_basic_info",:locals => {:curselect => "contacts"}

%div.row{:id => "personalcontact"}
  %h3.contact_info_h3 &nbsp;Personal information
  %br
  %div.span8    
    %p
      %strong Address:
      %br
      -if !@patient_entry.homeaddress.nil?
        = simple_format(h @patient_entry.homeaddress)
  %div.span3
    %p
      %strong DOB
      (mm/dd/yyyy): 
      #{@patient_entry.dob.strftime("%m/%d/%Y")}
      -if @age_in_words != ""
        #{@age_in_words}
    %p
      %strong Mobile: 
      #{@patient_entry.mobile}
    %p
      %strong Home: 
      #{@patient_entry.homephone}
  %div.span10    
    %p
      %strong Email: 
      #{@patient_entry.email}
  
%div.row{:id => "officecontact"}
  %br
  %h3.contact_info_h3 &nbsp;Office information
  %br
  %div.span10
    %p
      %strong Email: 
      #{@patient_entry.jobemail}
  %div.span10
    %p
      %strong Phone:
      #{@patient_entry.jobphone}
  %div.span11    
    %p
      %strong Job description:
      %br
      -if !@patient_entry.jobdescription.nil?
        = simple_format(h @patient_entry.jobdescription)
  %div.span8    
    %p
      %strong Address:
      %br
      -if !@patient_entry.jobaddress.nil?
        = simple_format(h @patient_entry.jobaddress)
  
%div.center
  %br
  %a{:class => "btn btn-large btn-primary", :href => editcontact_patient_path(@patient_entry)} Edit information
  %br
  %br     