%div.row
  %div.span3.offset3
    %h3 Your patient list
  %div.span4
    = form_tag(patientlist_path, :action => "get") do
      = text_field_tag :patientsearch, params[:patientsearch]
      = button_tag(:type => "submit", :class => "btn btn-primary") do
        %i.icon-search.icon-white
        /= p " Search"

/= paginate(@patient_list)
= page_entries_info(@patient_list).html_safe

              
%br
%br
%div
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Opd Number
        %th Patient's name
        %th Date of first visit
        
    %tbody
      - @patient_list.each do |each_patient|
        %tr
          %td
            #{each_patient.opd_number}
          %td
            %a{:href => contact_patient_path(each_patient)}#{each_patient.firstname} #{each_patient.lastname}
          %td

  
= page_entries_info(@patient_list).html_safe
= paginate(@patient_list)