= render :partial => "patients/patient_basic_info",:locals => {:curselect => "contacts"}

%div.row.well{:id => "personalcontact"}
  %h3 Personal contact information
  %br
  %div.span8    
    %p
      %strong Address:
      %br
      -if !@patient_entry.homeaddress.nil?
        = simple_format(h @patient_entry.homeaddress)
  %div.span3
    %p
      %strong Mobile: 
      #{@patient_entry.mobile}
    %p
      %strong Home: 
      #{@patient_entry.homephone}
    %p
      %strong Email: 
      #{@patient_entry.email}

%div.row.well{:id => "officecontact"}
  %h3 Office contact information
  %br
  %div.span8
    %address    
      %strong GS Lab
      %br
      BAner road, Amar arma Genesis,
      %br
      Pune, 411007.
  %div.span3
    %p
      %strong Phone:
    %p 
      %strong Extension: 
    %p
      %strong Email: 
      amolpotnisWTestingWTestingWTestingWTestingWTestingWTestingWTestingWTestingWTestingWTestingWTestingWTesting@kpoint.com
     