%h1  Sign in for homeopathy doctors

%div.row
  %div.span6.offset3
    = form_for(:session, url: sessions_path) do |f|
      
      = f.error_messages
            
      = f.hidden_field :service, :value => "defaultauth"
      

      = f.label :email
      = f.text_field :email

      = f.label :password
      = f.password_field :password
      %br
      =check_box_tag(:remember_me, )
      =label_tag(:remember_me_label, "Remember me on this computer", :class => "checkbox inline")
      %br
      %br
      = f.submit "Sign in", class: "btn btn-large btn-primary"
      
    %p 
      New user? 
      = link_to "Create your account now!", signup_path